:root {
	--color-background: #FFF;
	--color-foreground: #404040;
	--color-accent: #1E90FF;
	--color-dimmed: #E0E0E0;

	--font-body: "Leelawadee", sans-serif;
	--font-header: "Leelawadee UI Semilight", sans-serif;

	--size-font: 16px;
	--size-content: 950px;
	--size-large: 50px;
	--size-medium: 30px;
	--size-small: 4px;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body, input, textarea {
	background-color: var(--color-background);
	color: var(--color-foreground);

	font-family: var(--font-body);
	font-size: var(--size-font);
}


/* ======== HEADER ======== */
header {
	background-color: var(--color-accent);
	color: var(--color-background);
	line-height: var(--size-large);
}

header nav {
	margin: 0 auto;
	max-width: var(--size-content);
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

header a {
	color: var(--color-background);
}


/* ======== MAIN ======== */
main {
	margin: var(--size-medium) auto;
	max-width: var(--size-content);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-header);
	font-weight: lighter;
}

a {
	color: var(--color-accent);
}

input {
	margin-bottom: 8px;
	border: 1px solid;
	border-radius: var(--size-small);
	padding: 6px;
	display: block;
}

.error {
	background-color: red;
	color: white;
	font-weight: bold;
}

a.button {
	border: 1px solid;
	border-radius: var(--size-small);
	padding: 6px;
	display: inline-block;

	background-color: var(--color-background);
	color: var(--color-foreground);

	font-family: var(--font-body);
	font-size: var(--size-font);

	text-decoration: none;

}

input[type=submit], a.button {
	background: linear-gradient(var(--color-background), var(--color-dimmed));
}

input[type=submit]:active, a.button:active {
	background: linear-gradient(var(--color-dimmed), var(--color-background));
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid;
	padding: 4px 8px;
}

table tr:nth-child(2n + 1) {
	background-color: var(--color-dimmed);
}

table tr:first-child {
	background-color: var(--color-accent);
	color: var(--color-background);
}

table th {
	border-top: none;
}

table th:last-child, table td:last-child {
	border-right: none;
}

table tr:last-child td {
	border-bottom: none;
}

table th:first-child, table td:first-child {
	border-left: none;
}


/* ======== FOOTER ======== */
footer {
	border-top: 1px solid;
}

footer p {
	margin: 0 auto;
	max-width: var(--size-content);
}